<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <style type="text/css">
  input.ng-dirty.ng-invalid {
    border: 1px solid red;
  }
  .error {
    color: #f00;
  }
  </style>
  <title>Testing Widgets</title>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="lib/app.js"></script>
  <script src="test.js"></script>
</head>

<body ng-app="test">
  <div ng-controller="ctrl">
    <form name="myForm" ng-submit="submitForm()">
      <label for="">Directive Required</label>
      <input type="text" name="email" ng-model="email" ui-required>
      <div ng-messages="myForm.email.$error" class="error">
        <div ng-message="uirequired">You did not enter a field</div>
      </div>
      <br/>

      <label for="">Directive Pattern </label>
      <input type="text" name="pattern" ng-model="name" ui-required ui-pattern="pattern">
      <div ng-messages="myForm.pattern.$error" class="error">
        <div ng-message="uirequired">You did not enter a field</div>
        <div ng-message="uipattern">You did not enter a valid field</div>
      </div>
      <br/>

      <input type="submit" value="submit" ng-disabled="!myForm.$valid">
    </form>
  </div>
</body>

</html>
